<div class= "container">
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>

        </tr>
        {% for usuario in usuario %}
        <!-- Para buscar os intens de uma lista individualmente
         criamos um laço de repetição com o comando a cima e fechamos
         com o endfor, esse é um laço de repetição dentro do
         template django -->

        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
            
    </table>

</div>